<section>
  <h2>Start New Search</h2>
  <%= form_for @search, url: search_index_path do |f| %>
    <%= f.text_field :term %>
    <%= f.submit 'Search' %>
  <% end %>
</section>

<section>
  <h2>Trending Searches</h2>
  <table>
    <thead>
    <tr>
      <th>Term (<%= sort_by('term') %>)</th>
      <th>Occurrences (<%= sort_by('count') %>)</th>
      <th>Last Searched (<%= sort_by('created_at') %>)</th>
    </tr>
    </thead>

    <tbody>
    <% @trending.each do |search| %>
      <tr>
        <td><%= link_to search.term, search_path(search.term) %></td>
        <td><%= search.count %></td>
        <td><%= search.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
