<section>
  <h2>Breweries Matching "<%= @search.term %>"</h2>

  <%= render partial: 'results' %>
</section>

<section>
  <h2>Past Searches for "<%= @search.term %>"</h2>
  <ul>
    <% @search.occurrences.each do |occurrence| %>
      <li><%= occurrence.created_at %></li>
    <% end %>
  </ul>
</section>

<%= render @new_search %>
